body {
  background-color: #eae1f2;
  margin: 0;
}

.hero {
  padding: 16px;
  min-height: 320px;
  background: url("./assets/hero.jpeg") center;
  background-size: cover;
  font-family: tt-nooks, serif;
  font-size: 48px;
  text-align: center;
  color: #fff;
}

.tag {
  margin: 16px;
}

.logo {
  margin: auto;
  display: block;
  width: 197px;
  height: 197px;
  border-radius: 50%;
  background-color: white;
}

.logo img {
  width: 197px;
  height: 210px;
}

.header {
}

h2 {
  font-size: 48px;
  font-family: tt-nooks, serif;
  text-align: center;

  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(0deg, #7412C9, #D806A1);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
