@font-face {
  font-family: "TTNooksRegular";
  src: url("assets/fonts/TTNooksRegular.woff2") format("woff2"),
    url("assets/fonts/TTNooksRegular.woff") format("woff");
}

body {
  background-color: #eae1f2;
  margin: 0;
}

.hero {
  padding: 16px;
  min-height: 320px;
  background: url("./assets/hero.jpeg") center;
  background-size: cover;
  font-family: TTNooksRegular, serif;
  text-align: center;
  color: #fff;
}

.tag {
  font-size: 48px;
  margin: 16px;
}

.logo {
  margin: auto;
  display: block;
  width: 197px;
  height: 197px;
  border-radius: 50%;
  background-color: white;
}

.logo img {
  width: 197px;
  height: 210px;
}

.main {
  padding: 16px;
  box-sizing: border-box;
  max-width: 1206px;
  margin: auto;
}

.header {
  font-family: TTNooksRegular, serif;
  text-align: center;

  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(0deg, #7412c9, #d806a1);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

h2 {
  font-size: 48px;
}

.events {
  padding: 0;
  list-style: none;
}

.event-banner {
  border-radius: 30px;
  overflow: hidden;
  height: 322px;
  padding: 28px 40px;
  margin: 26px 0;
  box-sizing: border-box;
}

.event-banner {
  color: #fff;
  text-decoration: none;
  font-family: TTNooksRegular, serif;
  display: block;
}

.harmony-banner {
  background-image: linear-gradient(
      to bottom,
      rgba(116, 18, 201, 0.8),
      rgba(216, 6, 161, 0.8)
    ),
    url("./assets/harmony-banner.png");
}

.brussels-banner {
  background-image: linear-gradient(
      to bottom,
      rgba(116, 18, 201, 0.8),
      rgba(216, 6, 161, 0.8)
    ),
    url("./assets/brussels-banner.png");
}

.info-box {
  background-color: #fff;
  border-radius: 30px;
  padding: 36px 68px 36px 68px;
}

.main > .info-box:first-child {
  position: relative;
  top: -48px;
  margin-bottom: -48px;
}

.info-box h2 {
  margin-top: 16px;
}

.program {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.program .info-box {
  flex: 1 0;
  padding: 26px;
}

.program a {
  color: #7412c9;
}

.program ul {
  list-style: none;
  padding: 0;
}
